@import "tailwindcss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav {
  @apply box-border fixed translate-x-0 transition-all duration-[0.4s] w-full z-20 px-5 py-0 border-b-2 border-b-[rgba(0,0,0,0.1)] border-solid top-0;
  background: #fff;
}

.nav .outer-container {
  @apply items-center box-border flex justify-between bg-white;
}
.outer-container {
  @apply bg-neutral-100 block max-w-[1920px] mx-auto my-0;
}

@media only screen and (max-width: 1400px) {
  .nav__primary-item {
    @apply px-2.5 py-0;
  }
}
.nav__primary-item {
  @apply inline-block relative transition-all duration-[0.4s] px-3 py-0;
}

.nav__primary-link:last-of-type {
  @apply mr-0;
}
.nav__primary-link {
  @apply items-center cursor-pointer inline-flex text-sm font-bold h-[95px] leading-7 no-underline uppercase transition-all duration-[0.4s] mr-[30px] border-b-4 border-b-transparent border-solid;
}